/* BREAKPOINTS */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* ************************************************** */

/* 
SALMON : bg #fff7f3 -- txt #9f5c77
BLUE : bg #EDF9FE -- txt #001C55
GREEN : bg #f5fff2 -- txt #1C494C
EARTH : bg #FDF6EE -- txt #47280B
LEMON :bg #FEF9DB -- txt #5C452F
PURPLE : bg #F6F2FF -- txt #422849
ROSE ET BLEU: bg #FFF7F7 -- txt #021963
*/

/* ************************************************** */

/* FONTS */
/*Main Font*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*Context Font*/
@font-face {
    font-family: "Agustina Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Agustina Regular"),
      url("./Agustina.woff") format("woff");
  }


/* ************************************************** */
/* ************************************************** */

/* GENERAL */
body,
html {
    scroll-behavior: smooth;
    overflow: hidden;
}
body {
    /* background: rgb(29, 29, 29);*/
    font-family: 'Lora', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6em;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

section {
    margin-top: 40px;
}

ul {
    list-style: square outside none;
}

a {
    color: inherit;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
a:hover {
    text-decoration: none;
    color: inherit;
}

/* ************************************************** */
/* ************************************************** */

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h3,
h6 {
  clear: both;
  color: #001C55;
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 700;
  line-height: 1.2em;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

/*--General Title Mobile--*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 16px;
  }
}

/* ************************************************** */
/* ************************************************** */

/* COLORS */

.main-color-blue {
	/* color: #001C55; */
    color: rgb(0, 28, 85);
}
.main-color-salmon {
	color: #9f5c77;
}
.main-color-green {
	color: #1C494C;
}
.main-color-earth {
	color: #47280B;
}
.main-color-lemon {
	color: #5C452F;
}
.main-color-purple {
	color: #422849;
}
.brand-color-purple {
    color: #876387;
}
.brand-color-red {
    color: #db5e5c;
}

/* ************************************************** */
/* ************************************************** */

/* SPACING */

.mt-60 {
    margin-top: 60px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-10 {
    margin-top: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}
.mt-15 {
    margin-top: 15px;
}

.ptb-20 {
    padding: 20px 10px;
}

/* ************************************************** */
/* ************************************************** */

/* NAVIGATION */

.logo-name{
    font-family: "Agustina Regular";
    font-size: 25px;
    font-weight: 700;
    padding: 10px 5px;
}

.heroNav{
    margin-top: 0px;!important
}

.navbar .nav-link{
    font-size: 25px;
    color: #001C55;
}

.nav-link.active {
    color: #db5e5c !important;
    font-weight: 700;
}

.nav-link i {
    margin-right: 10px;
    color: #9f5c77;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: #e0eaed;
    }
}

/* ************************************************** */
/* ************************************************** */

/* HOMEPAGE */

#homepage{
    background: #EDF9FE;
    color: #0F1B61;
}
